body {
    margin: 0px;
    background-color: #c1cdcd;
}

h1 {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 39px;
    display: flex;
    border-bottom: white solid 5px;
    border-top: white solid 5px;
    margin-top: 28px;
    margin-right: 70px;
}

nav {
    position: fixed;
    width: 100%;
    margin-left: 180px;
    z-index: 10;
    top: 0px;
    margin-top: 28px;
    font-size: 18px;
    background-color:#c1cdcd;
    border-bottom: white solid 5px;
    border-top: white solid 5px;
}

#nav-container {

}

#nav-flex {
    display: flex;
    padding: 10px;
    list-style: none;
}

li {
    display: flex;
    list-style: none;
    margin-left: 50px;
  margin-right: auto;

}

a {
    color: #026D7C;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover{
    color: white;
}

#logo {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0px;
    margin-top: 10px;
    background-color:#c1cdcd;
    margin-left: 90px;
    margin-right: 3000px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#header {
    position: relative;
    margin-top: 215px;
}

.box {
    width: 2000px;
    height: 150px;
}

.grey {
    background: #B2B2B2;
}

#top {
    position: relative;
    top: -110px;
    z-index: -10;
}

#intro {
    border: solid white 5px;
    margin: auto;
    top: -100px;
    width: 50%;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box {
    width: 2000px;
    height: 150px;
}

.pink {
    background: #F4CEDF;
}

#bottom {
    position: absolute;
    top: 1100px;
    z-index: 10;
}

