body {
    margin: 0px;
    background-color: #A5CAD6;
}

h1 {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 39px;
    display: flex;
    border-bottom: white solid 5px;
    border-top: white solid 5px;
    margin-top: 28px;
    margin-right: 70px;
}

p {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 39px;
    display: flex;
    border-bottom: white solid 5px;
    border-top: white solid 5px;
    margin-top: 28px;
    margin-right: 70px;
}

nav {
    position: fixed;
    width: 100%;
    margin-left: 180px;
    z-index: 10;
    top: 0px;
    margin-top: 28px;
    font-size: 18px;
    background-color:#A5CAD6;
    border-bottom: white solid 5px;
    border-top: white solid 5px;
}

#nav-container {

}

#nav-flex {
    display: flex;
    padding: 10px;
    list-style: none;
}

li {
    display: flex;
    list-style: none;
    margin-left: 50px;
  margin-right: auto;

}

a {
    color: #026D7C;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover{
    color: white;
}

#logo {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0px;
    margin-top: 10px;
    background-color:#A5CAD6;
    margin-left: 90px;
    margin-right: 3000px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header {
    position: relative;
    margin-top: 215px;
}

.box {
    width: 2000px;
    height: 150px;
    width: 100%;
}

.grey {
    background: #EFE8A3;
}

#top {
    position: relative;
    top: -107px;
    z-index: -10;
}

#headerz {
    position: relative;
    margin-top: 915px;
    top: -185px
}

.box {
    width: 2000px;
    height: 150px;
    width: 100%;
}

#topz {
    position: relative;
    top: -300px;
    z-index: -10;
}

.pink {
    background: #F4CEDF;
}

#bottom {
    position: absolute;
    top: 3000px;
    z-index: 10;
}

#portrait {
    position: relative;
    top: -1200px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    padding: 0;
}

#landscape {
    position: relative;
    top: -930px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    padding: 0;
}

#landscapesecond {
    position: relative;
    top: -850px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    padding: 0;
}
