body {
    margin: 0px;
    background-color: #A5CAD6;
}

h1 {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 39px;
    display: flex;
    border-bottom: white solid 5px;
    border-top: white solid 5px;
    margin-top: 28px;
    margin-right: 70px;
}

p {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 39px;
    display: flex;
    border-bottom: white solid 5px;
    border-top: white solid 5px;
    margin-top: 28px;
    margin-right: 70px;
}

nav {
    position: fixed;
    width: 100%;
    margin-left: 180px;
    z-index: 10;
    top: 0px;
    margin-top: 28px;
    font-size: 18px;
    background-color:#A5CAD6;
    border-bottom: white solid 5px;
    border-top: white solid 5px;
}

#nav-container {

}

#nav-flex {
    display: flex;
    padding: 10px;
    list-style: none;
}

li {
    display: flex;
    list-style: none;
    margin-left: 50px;
  margin-right: auto;

}

a {
    color: #026D7C;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover{
    color: white;
}

#logo {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0px;
    margin-top: 10px;
    background-color:#A5CAD6;
    margin-left: 90px;
    margin-right: 3000px;
}

#header {
    position: relative;
    margin-top: 250px;
}

#headerbox {
    position: relative;
    margin-top: -110px;
    z-index: -10;
}

.box {
    width: 100%;
    height: 150px;
}

.blue {
    background: #EFE8A3;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#portrait {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    margin-top: 90px;
}

#header2 {
    position: relative;
    margin-top: 100px;
}

#headerbox2 {
    position: relative;
    margin-top: -110px;
    z-index: -10;
}

#landscape {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    margin-top: 100px;
}

#landscape2 {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    margin-top: 120px;
}

#bottom {
    position: relative;
}

.pink {
    background: #F4CEDF;
}
