body {
    margin: 0px;
    background-color: #F4EEA6;
}

p {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 39px;
    display: flex;
    border-bottom: white solid 5px;
    border-top: white solid 5px;
    margin-top: 28px;
    margin-right: 70px;
}

nav {
    position: fixed;
    width: 100%;
    margin-left: 180px;
    z-index: 10;
    top: 0px;
    margin-top: 28px;
    font-size: 18px;
    background-color: #F4EEA6;
    border-bottom: white solid 5px;
    border-top: white solid 5px;
}

#nav-container {

}

#nav-flex {
    display: flex;
    padding: 10px;
    list-style: none;
}

li {
    display: flex;
    list-style: none;
    margin-left: 50px;
  margin-right: auto;

}

a {
    color: #026D7C;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover{
    color: white;
}

#logo {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0px;
    margin-top: 10px;
    background-color: #F4EEA6;
    margin-left: 90px;
    margin-right: 3000px;
}

/*
h3 {
    margin-top: 200px;
    position: absolute;
    float: left;
    left: 200px;

}
*/

#header {
    position: absolute;
    margin-top: 300px;
    margin-left: 350px;
    border: white dotted 15px;
}

#header2 {
    position: absolute;
    margin-top: 200px;
    margin-left: 1000px;
    border: white dotted 15px;
}


#buttons {
    position: relative;
    top: 900px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    padding: 0;
}

.box {
    width: 2000px;
    height: 150px;
}

.pink {
    background: #F4CEDF;
}

#bottom {
    position: absolute;
    top: 1000px;
    z-index: 10;
}

